extends layout

block content
  h1= title
  p Welcome to #{title}
  - let puppy_breed = toShow._breed 
  - let weight = toShow.weight 
  - let size = toShow.size 
  div 
    div.row 
      div(class='puppyAttr mr-3') Puppy Breed is: 
      div #{puppy_breed} 
    div.row 
      div(class='puppyAttr mr-3') Puppy Weight is: 
      div #{weight} 
    div.row 
      div(class='puppyAttr mr-3') Puppy Size is: 
      div #{size}

      extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/costumes") Take me to costumes 
    br 
    a(href="/logout") Logout 